button {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    color: #222;
    padding: 0.5em 1.2em;
    font-size: 1em;
    transition: background 0.2s, color 0.2s;
    cursor: pointer;
}

button:hover {
    background: rgba(255, 255, 255, 0.35);
    color: #000;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    overflow: hidden;
    text-align: center;
    background-image: url('../pictures/pixel-lakes-hut.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.game {
    width: 100vw;
    border-bottom: 1px solid black;
    position: relative;
    margin-bottom: 50%;
    margin-top: 45%;
}

.dino,
.cactus {
    position: absolute;
    bottom: 0;
}

.dino {
    left: 10px;
}

.cactus {
    right: 10px;
    height: 50px;
}

.move {
    animation: cactus-move 2.2s infinite;
}

@keyframes cactus-move {
    0% {
        right: 0;
    }

    100% {
        right: 110vw;
    }
}

.jump {
    animation: dino-jump 1s;
}

@keyframes dino-jump {
    0% {
        margin-bottom: 1px;
    }

    50% {
        margin-bottom: 120px;
    }

    100% {
        margin-bottom: 1px;
    }
}